.titulointer{
margin-top: 30px;
}
.imageninter{
margin-left:20px;
margin-top: 20px;
}

.imageninter2{
   margin-left: 310px;
   margin-top: -50px; 
}

.titulo2inter{
margin-left: 25px;
margin-top: 80px;
}

.titulo3inter{
    margin-left: 25px;
    margin-top: 60px;
}

.titulo5inter{
    margin-left:210px;
    margin-top: -45px;
}

.titulo4inter{
text-align: center;
margin-top: 60px;
}

.encendidointer{
    margin-left: 225px;
    margin-top:-75px
}