.campologin{

text-align: center;
margin-top: 30px;

}
.campologin2{

text-align: center;
margin-top: 30px;

}

.imagenlogin{
text-align: center;
}

.titulologin{
    text-align: center;
margin-top: 21px;
}

.botonlogin{
    text-align: center;
margin-top: 40px;
color: white;
}

.botonlogin2{
margin-top: 10px;
margin-left: 10px;
color: white;
}

.botonlogin3{
    margin-top: 30px;
    margin-left: 5px;
}