.ingpl11{
    color: white;
    text-align: center;
    margin-top:50px;
}

.imagenpl11{
    text-align: center;
    margin-top:30px
}

.imagenpl2-11{
    margin-top:30px;
margin-left: 30px;
}

.imagenpl3-11{
    margin-top:30px;
    margin-left: 30px;
}

.imagenpl4-11{
    margin-top:30px;
    margin-left: 30px;

}

.titulopl11{
text-align: center;
margin-top: 5px;
}

.titulo2pl11{
    text-align: center;
    margin-top:30px;
}

.titulo3pl11{
    text-align: center;
    margin-top:30px;

}

.titulo4pl11{
    text-align: center;
    margin-top: -225px;
}

.titulo5pl11{
    text-align: center;
    margin-top:65px;

}
.titulo6pl11{
    text-align: center;
    margin-top:65px;

}

.volverpl11{
 margin-left: 10px;
 margin-top: 5px;   
}

.flecha2pl11{
    margin-left: 30px;
    margin-top: -55px;
}