.imagen2p2{
    margin-top: 20px;
    margin-left: 20px;
}

.imagen3p2{
    margin-top: 20px;
    margin-left: 20px;
}

.imagen4p2{
    margin-top: 20px;
    margin-left: 20px;
}

.imagen5p2{
    margin-top: 20px;
    margin-left: 20px;
}

.imagen6p2{
    margin-top: 20px;
    margin-left: 20px;
}

.imagen7p2{
    margin-top: 20px;
    margin-left: 20px;
}

.imagen8p2{
    margin-top: 20px;
    margin-left: 20px;
}

.imagen9p2{
    margin-top: 20px;
    margin-left: 20px;
}

.imagen10p2{
    margin-top: -400px;
    margin-left: 220px;
}

.imagen11p2{
    margin-top: -105px;
    margin-left: 220px;
}

.nombrep2{
    margin-left:70px;
    margin-top: -35px;
}

.nombre2p2{
    margin-left:70px;
    margin-top: 35px;

}

.nombre3p2{
    margin-left:70px;
    margin-top: 35px;

}

.nombre4p2{
    margin-left:70px;
    margin-top: 35px;

}

.nombre5p2{
    margin-left:70px;
    margin-top: 35px;

}

.nombre6p2{
    margin-left:70px;
    margin-top: 35px;

}

.nombre7p2{
    margin-left:70px;
    margin-top: 35px;

}

.nombre8p2{
    margin-left:70px;
    margin-top: 35px;

}

.nombre9p2{
    margin-left:270px;
    margin-top: -445px;

}

.nombre10p2{
    margin-left:270px;
    margin-top: 35px;

}

.titulop2{
    margin-top: 5px;
}

.imagenp2{
    margin-top: 20px;
}

.botonp2{
    color: gray;
    margin-top: 10px;
    margin-left: 10px;
}