.ingplantas{
    color: white;
    text-align: center;
    margin-top:50px;

}

.imagenplantas{
    text-align: center;
    margin-top:30px
}

.imagenplantas2{
    margin-top:30px;
margin-left: 30px;
}

.imagenplantas3{
    margin-top:30px;
    margin-left: 30px;

}

.imagenplantas4{
    margin-top:30px;
    margin-left: 30px;

}

.tituloplantas{
text-align: center;
margin-top: 5px;
}

.titulo2plantas{
    text-align: center;
    margin-top:30px;
}

.titulo3plantas{
    text-align: center;
    margin-top:30px;

}

.titulo4plantas{
    text-align: center;
    margin-top: -225px;
}

.titulo5plantas{
    text-align: center;
    margin-top:65px;

}
.titulo6plantas{
    text-align: center;
    margin-top:65px;

}

.volverplantas{
 margin-left: 10px;
 margin-top: 5px;   
}

.flechaplantas{
    margin-left: 280px;
    margin-top: -60px;
}