.ingpl8{
    color: white;
    text-align: center;
    margin-top:50px;
}

.imagenpl8{
    text-align: center;
    margin-top:30px
}

.imagenpl2-8{
    margin-top:30px;
margin-left: 30px;
}

.imagenpl3-8{
    margin-top:30px;
    margin-left: 30px;
}

.imagenpl4-8{
    margin-top:30px;
    margin-left: 30px;

}

.titulopl8{
text-align: center;
margin-top: 5px;
}

.titulo2pl8{
    text-align: center;
    margin-top:30px;
}

.titulo3pl8{
    text-align: center;
    margin-top:30px;

}

.titulo4pl8{
    text-align: center;
    margin-top: -225px;
}

.titulo5pl8{
    text-align: center;
    margin-top:65px;

}
.titulo6pl8{
    text-align: center;
    margin-top:65px;

}

.volverpl8{
 margin-left: 10px;
 margin-top: 5px;   
}

.flechapl8{
    margin-left: 280px;
    margin-top: -60px;
}

.flecha2pl8{
    margin-left: 30px;
    margin-top: -55px;
}