.ingpl4{
    color: white;
    text-align: center;
    margin-top:50px;
}

.imagenpl4{
    text-align: center;
    margin-top:30px
}

.imagenpl2-4{
    margin-top:30px;
margin-left: 30px;
}

.imagenpl3-4{
    margin-top:30px;
    margin-left: 30px;
}

.imagenpl4-4{
    margin-top:30px;
    margin-left: 30px;

}

.titulopl4{
text-align: center;
margin-top: 5px;
}

.titulo2pl4{
    text-align: center;
    margin-top:30px;
}

.titulo3pl4{
    text-align: center;
    margin-top:30px;

}

.titulo4pl4{
    text-align: center;
    margin-top: -225px;
}

.titulo5pl4{
    text-align: center;
    margin-top:65px;

}
.titulo6pl4{
    text-align: center;
    margin-top:65px;

}

.volverpl4{
 margin-left: 10px;
 margin-top: 5px;   
}

.flechapl4{
    margin-left: 280px;
    margin-top: -60px;
}

.flecha2pl4{
    margin-left: 30px;
    margin-top: -55px;
}