.ingpl7{
    color: white;
    text-align: center;
    margin-top:50px;
}

.imagenpl7{
    text-align: center;
    margin-top:30px
}

.imagenpl2-7{
    margin-top:30px;
margin-left: 30px;
}

.imagenpl3-7{
    margin-top:30px;
    margin-left: 30px;
}

.imagenpl4-7{
    margin-top:30px;
    margin-left: 30px;

}

.titulopl7{
text-align: center;
margin-top: 5px;
}

.titulo2pl7{
    text-align: center;
    margin-top:30px;
}

.titulo3pl7{
    text-align: center;
    margin-top:30px;

}

.titulo4pl7{
    text-align: center;
    margin-top: -225px;
}

.titulo5pl7{
    text-align: center;
    margin-top:65px;

}
.titulo6pl7{
    text-align: center;
    margin-top:65px;

}

.volverpl7{
 margin-left: 10px;
 margin-top: 5px;   
}

.flechapl7{
    margin-left: 280px;
    margin-top: -60px;
}

.flecha2pl7{
    margin-left: 30px;
    margin-top: -55px;
}