.ingpl10{
    color: white;
    text-align: center;
    margin-top:50px;
}

.imagenpl10{
    text-align: center;
    margin-top:30px
}

.imagenpl2-10{
    margin-top:30px;
margin-left: 30px;
}

.imagenpl3-10{
    margin-top:30px;
    margin-left: 30px;
}

.imagenpl4-10{
    margin-top:30px;
    margin-left: 30px;

}

.titulopl10{
text-align: center;
margin-top: 5px;
}

.titulo2pl10{
    text-align: center;
    margin-top:30px;
}

.titulo3pl10{
    text-align: center;
    margin-top:30px;

}

.titulo4pl10{
    text-align: center;
    margin-top: -225px;
}

.titulo5pl10{
    text-align: center;
    margin-top:65px;

}
.titulo6pl10{
    text-align: center;
    margin-top:65px;

}

.volverpl10{
 margin-left: 10px;
 margin-top: 5px;   
}

.flechapl10{
    margin-left: 280px;
    margin-top: -60px;
}

.flecha2pl10{
    margin-left: 30px;
    margin-top: -55px;
}