.logoprincipal{
text-align: center;
margin-top: 80px;
}

.ingprincipal{
text-align: center;
margin-top: 80px;
color: white;
}

.ingprincipal2{
text-align: center;
margin-top: 40px;
color: white;

}