.aceptarrecupera{
    color: white;
    margin-top: 40px;
}

.titulorecupera{
    margin-top:10px;
}

.logorecupera{
    margin-top:40px;
}

.titulorecupera2{
    margin-top:40px;
}

.inputrecupera{
    margin-top: 41px;
}

.volverrecupera{
    font-size: 20px;
    margin-left: 10px;
    margin-top:10px;
}
