.imagenusuario{
    margin-top: 40px;
}

.imagenusuario2{
    margin-left: 100px;
    margin-top: -29px;
}

.titulousuario{
    margin-top: 30px;
}

.titulousuario2{
    margin-top: 40px;
    margin-left: 20px;

}

.titulousuario3{
    margin-top: 40px;
    margin-left: 20px;

}

.titulousuario4{
    margin-top: 40px;
    margin-left: 20px;
}

.imagenusuario3{
    margin-left: 120px;
    margin-top: -40px;
}

.botonusuario{
    margin-left: 20px;
    margin-top: 30px;
}

.botonusuario2{
    text-align: center;
    margin-top: 50px;
}

.fondousuario{
    background-color: yellowgreen;
    height: 800px;
}